@font-face {
  font-family: poppinsSB;
  src: url(../assets/TYPOGRAPHIES/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: poppinsB;
  src: url(../assets/TYPOGRAPHIES/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: mulish;
  src: url(../assets/TYPOGRAPHIES/muli/Muli.ttf);
}

@font-face {
  font-family: mulishSB;
  src: url(../assets/TYPOGRAPHIES/muli/Muli-SemiBold.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../assets/TYPOGRAPHIES/Poppins/Poppins-Regular.ttf);
}

a {
  text-decoration: none;
  color: black;
}

.open-nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

body,
h1,
h3,
p {
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 115px;
  font-family: poppinsSB;
}

header > * {
  margin: auto 50px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .close {
  display: none;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-right: 20px;
}

header ul li {
  margin: 0 15px;
}

header #burgerMenu {
  display: none;
}

.refregiratedVehicule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  position: relative;
}

.refregiratedVehicule .content {
  background-color: #039f4e;
  width: 55%;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill;
  color: white;
  padding: 100px 0px 100px 50px;
  -webkit-clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);
          clip-path: polygon(0 0, 0 100%, 80% 100%, 100% 0);
}

.refregiratedVehicule .content > * {
  margin-right: 230px;
}

.refregiratedVehicule .content h3 {
  font-family: poppinsB;
  font-size: 48px;
  line-height: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

.refregiratedVehicule .content p {
  font-family: mulish;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.refregiratedVehicule .content button {
  font-family: mulishSB;
  font-size: 18px;
  height: 56px;
  width: 306px;
  cursor: pointer;
  margin-top: 40px;
}

.refregiratedVehicule img {
  position: absolute;
  right: 0;
  z-index: -1;
  width: 60%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.refregiratedVehicule .diagonal1 {
  margin-left: -60px;
  border-left: 15px solid #039f4e;
  height: 100%;
  -webkit-transform: skew(-18.5deg);
          transform: skew(-18.5deg);
}

.refregiratedVehicule .diagonal2 {
  margin-left: 25px;
  border-left: 7px solid #039f4e;
  height: 100%;
  -webkit-transform: skewX(-18.5deg);
          transform: skewX(-18.5deg);
}

#ourVehicules {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 100px 165px;
}

#ourVehicules h1 {
  font-family: poppinsB;
  font-size: 40px;
}

#ourVehicules .break {
  width: 100%;
}

#ourVehicules .card {
  height: 220px;
  width: 305px;
  margin-top: 50px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
          box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#ourVehicules .card .top {
  position: relative;
  background-color: #039f4e;
  width: 100%;
  height: 137px;
  border-radius: 10px 10px 0 0;
}

#ourVehicules .card .top img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#ourVehicules .card span {
  white-space: normal;
  word-wrap: break-word;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 87px;
  font-family: poppinsB;
  font-size: 20px;
  margin-left: 20px;
  border-radius: 0 0 10px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#transportSociety {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#transportSociety .left {
  width: 50%;
  margin-left: 50px;
  margin-right: 40px;
}

#transportSociety .left h3 {
  font-family: poppinsB;
  color: #039f4e;
  font-size: 20px;
}

#transportSociety .left .top h1 {
  font-family: poppinsB;
  font-size: 40px;
  margin-bottom: 15px;
}

#transportSociety .left .top p {
  font-family: mulish;
  font-size: 16px;
  margin-top: 15px;
  margin-right: 155px;
}

#transportSociety .left .stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-top: 80px;
}

#transportSociety .left .stats h3 {
  grid-column: span 3;
}

#transportSociety .left .stats .numbers {
  margin-top: 20px;
}

#transportSociety .left .stats .numbers .number {
  font-family: mulish;
  font-size: 25px;
}

#transportSociety .left .stats .numbers .subject {
  font-family: mulish;
  font-size: 16px;
  margin-top: 5px;
}

#transportSociety img {
  margin-right: 50px;
  height: 600px;
  width: 40%;
  -o-object-fit: contain;
     object-fit: contain;
}

#refregirationSpe {
  margin-top: 100px;
}

#refregirationSpe .titles {
  text-align: center;
}

#refregirationSpe .titles h3 {
  font-family: poppinsB;
  font-size: 20px;
  color: #039f4e;
}

#refregirationSpe .titles h1 {
  font-family: poppinsB;
  font-size: 40px;
  margin-bottom: 70px;
}

#refregirationSpe .content {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  margin-right: 155px;
  margin-left: 155px;
}

#refregirationSpe .content h3 {
  font-family: poppinsB;
  font-size: 18px;
}

#refregirationSpe .content p {
  font-family: mulish;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 100px;
}

#refregirationSpe .content .left {
  text-align: right;
}

#refregirationSpe .content .right {
  text-align: left;
}

#refregirationSpe .content .center {
  -ms-grid-column: 2;
      grid-column-start: 2;
  text-align: center;
  margin-top: -50px;
}

#refregirationSpe .content img {
  grid-row: span 2;
}

#fullService {
  background-color: #039f4e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: auto;
  margin-top: 100px;
}

#fullService .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  color: white;
  margin-right: 125px;
  margin-left: 625px;
}

#fullService .content h1 {
  grid-column: span 2;
  font-family: poppinsB;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: 25px;
}

#fullService .content h3 {
  font-family: poppinsB;
  font-size: 20px;
}

#fullService .content p {
  font-family: mulish;
  font-size: 16px;
  margin-right: 40px;
  margin-bottom: 30px;
}

#fullService .content button {
  font-family: mulishSB;
  font-size: 18px;
  height: 56px;
  width: 306px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 50px;
}

#fullService img {
  position: absolute;
  bottom: 0;
}

.contactUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.contactUs .contact {
  margin-left: 50px;
  margin-right: 150px;
}

.contactUs h1 {
  font-family: poppinsB;
  font-size: 40px;
  margin-bottom: 40px;
}

.contactUs h3 {
  margin-top: 40px;
  font-family: poppinsB;
  font-size: 20px;
}

.contactUs .infos {
  margin-top: 15px;
  font-family: mulish;
  font-size: 18px;
}

.contactUs form .userDetails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-right: 125px;
}

.contactUs form .userDetails .inputBox {
  margin-right: 40px;
  margin-bottom: 25px;
}

.contactUs form .userDetails .inputBox label {
  font-family: poppinsB;
  font-size: 18px;
}

.contactUs form .userDetails .inputBox input,
.contactUs form .userDetails .inputBox select,
.contactUs form .userDetails .inputBox textarea {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #a5a5a5;
  width: 100%;
  font-family: mulish;
  accent-color: black;
}

.contactUs form .userDetails .inputBox #receiveMail {
  width: auto;
  margin: 0;
}

.contactUs form .userDetails .inputBox label[for="receiveMail"] {
  font-family: mulish;
  font-size: 14px;
}

.contactUs form .userDetails .inputBox .radioChoices input {
  width: auto;
  margin: 0;
}

.contactUs form .userDetails .inputBox .radioChoices label {
  font-family: mulish;
  font-size: 15px;
  margin-right: 40px;
}

.contactUs form .userDetails input[type="submit"] {
  width: 307px;
  height: 56px;
  color: white;
  background-color: #039f4e;
  border: 0;
  font-family: mulishSB;
  font-size: 18px;
  cursor: pointer;
}

.contactUs form .userDetails input[type="submit"]:hover {
  background-color: #037238;
}

.contactUs form .userDetails .span2 {
  grid-column: span 2;
}

#agencies {
  margin-top: 100px;
  position: relative;
}

#agencies #map {
  width: 100%;
  height: 650px;
  z-index: 0;
}

#agencies .infos {
  position: absolute;
  left: 50px;
  top: 50px;
  background-color: white;
  z-index: 100;
}

#agencies .infos .agency {
  border: 1px solid #ececec;
  padding-left: 25px;
  padding-bottom: 25px;
  position: relative;
}

#agencies .infos .agency h1 {
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: poppinsB;
  font-size: 20px;
}

#agencies .infos .agency h3 {
  margin-top: 20px;
  margin-bottom: 5px;
  font-family: poppinsB;
  font-size: 16px;
}

#agencies .infos .agency p {
  font-family: mulish;
  font-size: 15px;
  padding-right: 90px;
}

#agencies .infos .agency img {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#agencies .infos .agency:hover {
  background-color: #f3f3f3;
}

.footer {
  font-family: poppins;
}

.footer .confidentalityPolicy {
  padding-top: 50px;
  position: relative;
}

.footer .confidentalityPolicy img {
  position: absolute;
  left: 70px;
  height: 94px;
}

.footer .confidentalityPolicy .text {
  margin-left: 280px;
  margin-right: 50px;
  font-size: 12px;
  margin-bottom: 50px;
}

.footer .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  background-color: black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

.footer .bottom p {
  margin-left: 50px;
  font-size: 16px;
}

@media only screen and (max-width: 1280px) {
  .refregiratedVehicule .diagonal1,
  .refregiratedVehicule .diagonal2 {
    -webkit-transform: skew(-16.5deg);
            transform: skew(-16.5deg);
  }
  #refregirationSpe .content {
    margin-right: 100px;
    margin-left: 100px;
  }
  #refregirationSpe .content .right {
    -ms-grid-column: 3;
        grid-column-start: 3;
  }
  #refregirationSpe .content .center {
    -ms-grid-row: 2;
        grid-row-start: 2;
    margin: 20px 30px 0 30px;
  }
  #refregirationSpe .content img {
    grid-row: span 1;
  }
  #fullService {
    margin-top: 50px;
  }
  #fullService .content {
    margin-left: 600px;
    margin-right: 100px;
  }
}

@media only screen and (max-width: 1024px) {
  .refregiratedVehicule {
    height: auto;
  }
  .refregiratedVehicule .content {
    width: 100%;
    padding: 50px;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
  .refregiratedVehicule .content p {
    margin-right: auto;
  }
  .refregiratedVehicule .diagonal1,
  .refregiratedVehicule .diagonal2 {
    display: none;
  }
  .refregiratedVehicule img {
    display: none;
  }
  #ourVehicules {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #transportSociety .left .stats {
    position: absolute;
    right: 50px;
    margin-top: -300px;
    width: 40%;
  }
  #transportSociety img {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 50%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #refregirationSpe .content .left {
    text-align: left;
  }
  #fullService {
    margin-top: 0;
  }
  #fullService .content {
    margin-left: 50px;
    margin-right: 50px;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #fullService .content h1 {
    grid-column: span 3;
  }
  #fullService img {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
  }
  header #burgerMenu {
    display: block;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 2;
    display: unset;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    background-color: white;
    margin: 0;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
  }
  header nav ul {
    display: unset;
  }
  header nav .close {
    display: unset;
    margin-left: 5px;
    margin-top: 5px;
  }
  #ourVehicules {
    margin-right: 50px;
    margin-left: 50px;
  }
  #transportSociety img {
    display: none;
  }
  #transportSociety .left {
    width: 100%;
  }
  #transportSociety .left .top p {
    margin-right: 50px;
  }
  #transportSociety .left .stats {
    position: unset;
    margin-top: 30px;
    width: 100%;
  }
  #refregirationSpe .titles h1 {
    margin-bottom: 25px;
  }
  #refregirationSpe .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 50px 50px 0 50px;
  }
  #refregirationSpe .content .left {
    -ms-grid-column: unset;
        grid-column-start: unset;
  }
  #refregirationSpe .content .center {
    text-align: left;
    -ms-grid-column: unset;
        grid-column-start: unset;
    -ms-grid-row: unset;
        grid-row-start: unset;
    margin: 0;
  }
  #refregirationSpe .content .right {
    -ms-grid-column: unset;
        grid-column-start: unset;
  }
  #refregirationSpe .content p {
    margin-bottom: 25px;
  }
  #refregirationSpe .content img {
    display: none;
  }
  #fullService .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contactUs {
    display: unset;
  }
  .contactUs form {
    margin-left: 50px;
    margin-top: 30px;
  }
  #agencies #map {
    display: none;
  }
  #agencies .infos {
    position: unset;
  }
}
/*# sourceMappingURL=style.css.map */